body{
  background-image: url('https://thumbs.gfycat.com/BlondIllustriousHorsechestnutleafminer-max-1mb.gif');
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}
h3{
  text-align: center;
  background-color: rgba(233, 252, 28, 0.4);
}
.players{
  display: flex;
  margin: (1px solid black);
  text-align: center;
  padding-top: 10%;
}
